body {
  margin: 50px;
  background-color: #99c2ff;
  margin: auto;
  text-align: center;
  padding: 10px 10px;
  margin-top: 50px;
  margin-bottom: 25px;
}

.h1 {
  font-size: 36px;
  text-shadow: 4px 4px 8px black;
}

.input {
  margin-top: 60px;
  margin-left: 60px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1rem;
}
.currency {
  margin: auto;
  padding: 10px;
  font-size: 1rem;
}
.btn {
  margin: auto;
  padding: 10px;
  font-size: 1rem;
}

.total {
  font-size: 20 px;
  text-shadow: 2px 2px 5px black;
  margin: auto;
  background-color: white;
  max-width: 150px;
  padding: 7px;
  height: 20px;
}
